<a href="https://colab.research.google.com/github/vitor-o-s/ML_DS_from_A_to_Z/blob/master/pre_processing_credit_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importando banco (necessario somente no Google Drive ###

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':'1E7yyWmXMCh81ckPSYtHNh4h6vwT-31fN'}) # replace the id with id of file you want to access
downloaded.GetContentFile('credit_data.csv')

###Pr√© Processamento ###

In [0]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [0]:
data = pd.read_csv('credit_data.csv')

In [17]:
data.describe()

        i#clientid        income          age          loan    c#default
count  1997.000000   1997.000000  1994.000000   1997.000000  1997.000000
mean   1001.970456  45326.596720    40.927700   4442.124566     0.141713
std     576.679293  14327.971550    13.271802   3045.494192     0.348842
min       1.000000  20014.489470    18.055189      1.377630     0.000000
25%     503.000000  32804.904487    29.043284   1936.813257     0.000000
50%    1002.000000  45788.747100    41.382673   3971.155479     0.000000
75%    1501.000000  57787.565659    52.616900   6429.593688     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [18]:
#See if has no age < 0 
data.loc[data['age'] <= 0]

Empty DataFrame
Columns: [i#clientid, income, age, loan, c#default]
Index: []

In [0]:
#Option 1: Drop all the column
data.drop('age', 1, inplace= True)

In [0]:
#Option 2: Drop lines
data.drop(data[data.age <= 0].index, inplace=True)

In [20]:
data['age'].mean()

40.92770044906149

In [24]:
data['age'][data.age > 0].mean()

40.92770044906149

In [0]:
#Option 3: Overwrite with mean
data.loc[data.age < 0, 'age'] = 40.92

In [26]:
#See if there are no Null data
data.loc[pd.isnull(data['age'])]

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [0]:
previsores = data.iloc[:, 1:4].values
classe = data.iloc[:, 4].values

In [0]:
imputer = SimpleImputer(missing_values=np.nan,strategy= 'mean')
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])

In [0]:
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)